# Entorno virtual / dependencias
venv/
__pycache__/
*.pyc
.pytest_cache/

# Variables de entorno (NUNCA subir credenciales)
.env
*/.env

# Base de datos local
*.db
instance/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
